<section class="issue-card">

  <div class="issue-card-header">
    <h2 class="issue-title">
      <%= link_to issue.title, issue %>
    </h2>

    <span class="<%= status_badge_class(issue.status) %>">
       <%= issue.status %>
    </span>
  </div>

<div class="issue-card-body">
  <div class="issue-meta">
    <p class="issue-project">
    <strong>Project:</strong>
      <%= issue.project&.name || "No project assigned" %>
    </p>

    <p class="issue-date">
    <strong>Created:</strong>
      <%= issue.created_at.strftime("%B %d, %Y") %>
    </p>
  </div>
</div>
</section>

