<p style="color: green"><%= notice %></p>

<% content_for :title, "Issues" %>

<h1>Issues</h1>

<p>
    Track, investigate, and learn from every issue.
</p>

<section class="dashboard-stats">

  <div>
    <h3>Total Issues</h3>
    <p><%= @total_issues %></p>
  </div>

  <div>
    <h3>Resolved Issues</h3>
    <p><%= @resolved_issues %></p>
  </div>

  <div>
    <h3>Investigating Issues</h3>
    <p><%= @investigating_issues %></p>
  </div>

  <div>
    <h3>Total Projects</h3>
    <p><%= @projects_count %></p>
  </div>

</section>
<hr>

<nav class="status-filters">
  <%= link_to "All", issues_path %>
  <%= link_to "Pending", issues_path(status: "Pending") %>
  <%= link_to "Investigating", issues_path(status: "Investigating") %>
  <%= link_to "Resolved", issues_path(status: "Resolved") %>
</nav>

<div id="issues">
  <% @issues.each do |issue| %>
    <%= render "issue_card", issue: issue %>
    <%end%>

</div>

<%= link_to "New issue", new_issue_path %>
