<p style="color: green"><%= notice %></p>

<% content_for :title, "Issues" %>

<h1>Issues</h1>

<p>
    Track, investigate, and learn from every issue.
</p>

<section class="dashboard-stats">

  <div>
    <h3>Total Issues</h3>
    <p><%= @total_issues %></p>
  </div>

  <div>
    <h3>Resolved Issues</h3>
    <p><%= @resolved_issues %></p>
  </div>

  <div>
    <h3>Investigating Issues</h3>
    <p><%= @investigating_issues %></p>
  </div>

  <div>
    <h3>Total Projects</h3>
    <p><%= @projects_count %></p>
  </div>

</section>
<hr>

<nav class="status-filters">

  <%= link_to "All",
  issues_path,
  class: (@status.nil? ? "active-filter" : nil) %>

  <%= link_to "Pending",
  issues_path(status: "Pending"),
  class: (@status == "Pending" ? "active-filter" : nil) %>

  <%= link_to "Investigating",
  issues_path(status: "Investigating"),
  class: (@status == "Investigating" ? "active-filter" : nil) %>

  <%= link_to "Resolved",
  issues_path(status: "Resolved"),
  class: (@status == "Resolved" ? "active-filter" : nil) %>

</nav>

<nav class="project-filters">

  <%= link_to "All Projects", issues_path %>

  <% Project.all.each do |project| %>

    <%= link_to project.name,
    issues_path(project_id: project.id) %>

  <% end %>
</nav>

<div id="issues">
  <% @issues.each do |issue| %>
    <%= render "issue_card", issue: issue %>
    <%end%>

</div>

<%= link_to "New issue", new_issue_path %>
