<p style="color: green"><%= notice %></p>

<% content_for :title, "Issues" %>

<h1>Issues</h1>

<p>
    Track, investigate, and learn from every issue.
</p>

<section class="dashboard-stats">

  <div>
    <h3>Total Issues</h3>
    <p><%= @total_issues %></p>
  </div>

  <div>
    <h3>Resolved Issues</h3>
    <p><%= @resolved_issues %></p>
  </div>

  <div>
    <h3>Investigating Issues</h3>
    <p><%= @investigating_issues %></p>
  </div>

  <div>
    <h3>Total Projects</h3>
    <p><%= @projects_count %></p>
  </div>

</section>
<hr>

<%= render "filter_controls" %>

<section class="section-header">
  <div>
    <h2>Issue List</h2>
    <p>Review logged troubleshooting issues and investigation status.</p>
  </div>

  <%= link_to "New Issue", new_issue_path, class: "primary-action" %>
</section>

<div id="issues">
  <% if @issues.any? %>

    <% @issues.each do |issue| %>
      <%= render "issue_card", issue: issue %>
      <%end%>

  <% else %>

  <section class="empty-state">
  <h2>No issues found</h2>

  <% if @status.present? || @project_id.present? || @query.present? %>
    <p>
      No issues match your current filters. Try clearing filters or changing your search.
    </p>

    <%= link_to "Clear filters", issues_path %>
  <% else %>
    <p>
      No issues have been created yet.
    </p>

    <%= link_to "Create your first issue", new_issue_path,
    class: "primary-action" %>
  <% end %>
</section>

<% end %>

</div>
