<p style="color: green"><%= notice %></p>

<% content_for :title, "Issues" %>

<h1>Issues</h1>

<div id="issues">
  <% @issues.each do |issue| %>
    <%= render issue %>
    <h2><%= issue.title %></h2><br>
    <p><strong> Project <br>  <%= issue.project_name %> <br></p>
    <p><strong> Status <br> <%= issue.status %> <br></p>
    <p><strong> Error Message <br> <%= issue.error_message %> <br></p>
    <p><strong> Stack Trace <br> <%= issue.stack_trace %> <br></p>
    <p><strong> Steps to Reproduce <br> <%= issue.steps_to_reproduce %> <br></p>
    <p><strong> What I Checked <br> <%= issue.what_i_checked %> <br></p>
    <p><strong> Root Cause <br> <%= issue.root_cause %> <br></p>
    <p><strong> Fix <br> <%= issue.fix %> <br></p>
    <p><strong> Prevention <br> <%= issue.prevention %> <br></p>
    <p><strong> Interview Summary <br> <%= issue.interview_summary %> <br></p>
    <p><strong> Date Created <br> <%= issue.created_at %> <br></p>
    <p><strong> Last Updated <br> <%= issue.updated_at %> <br></p>
    <p>
      <%= link_to "Show this issue", issue %>
    </p>
  <% end %>
</div>

<%= link_to "New issue", new_issue_path %>
