 <aside class="sidebar">
  <h2>Troubleshooting Journal</h2>
      
    <nav>
      <p><%= link_to "Dashboard", dashboard_path %></p>
      <p><%= link_to "Issues", issues_path %></p>
      <p><%= link_to "Projects", projects_path %></p>
      <p><%= link_to "Tags", tags_path %></p>
      <p><%= link_to "Timeline", timeline_path %></p>
      <p><%= link_to "Search", search_path %></p>
      <p><%= link_to "Reports", reports_path %></p>
      <a href="#">Settings</a>
      <a href="#">Profile</a>
    </nav>
</aside>