 <aside class="sidebar">
  
  <div class="sidebar-brand">
    <h2>SignalDesk</h2>
    <p>Incident Response Workspace</p>
  </div>
      
    <nav class="sidebar-nav">
      <p><%= link_to "Dashboard", issues_path, class: active_nav_class(issues_path) %></p>
      <p><%= link_to "Issues", issues_path, class: active_nav_class(issues_path) %></p>
      <p><%= link_to "Projects", projects_path, class: active_nav_class(projects_path) %></p>
      <p><%= link_to "Tags", tags_path, class: active_nav_class(tags_path) %></p>
      <p><%= link_to "Timeline", timeline_path, class: active_nav_class(timeline_path) %></p>
      <p><%= link_to "Search", search_path, class: active_nav_class(search_path) %></p>
      <p><%= link_to "Reports", reports_path, class: active_nav_class(reports_path) %></p>
      <a href="#">Settings</a> 
      <a href="#">Profile</a>
    </nav>
</aside>