<p style="color: green"><%= notice %></p>

<strong>Project:</strong>
<%= @project.name %>

<%= render @project %>

<hr>

<h2>Issues for this project</h2>

<% if @project.issues.any? %>
  <% @project.issues.each do |issue| %>
   <%= render "issues/issue_card", issue: issue %>
  <% end %>
<% else %>
  <p>No issues have been logged for this project yet.</p>
<% end %>

<div>
  <%= link_to "Edit this project", edit_project_path(@project) %> |
  <%= link_to "Back to projects", projects_path %>

  <%= button_to "Destroy this project", @project, method: :delete %>
</div>
